# Feature branch preview for enterprise code
name: Enterprise Preview

# Run on PRs labeled
on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: "PR number to deploy"
        required: true
        type: number

# Match ghcr-build.yml, but don't interrupt it.
concurrency:
  group: ${{ github.workflow }}-${{ (github.head_ref && github.ref) || github.run_id }}
  cancel-in-progress: false

jobs:
  # This must happen for the PR Docker workflow when the label is present,
  # and also if it's added after the fact. Thus, it exists in both places.
  enterprise-preview:
    name: Enterprise preview
    if: github.event_name == 'workflow_dispatch'
    runs-on: blacksmith-4vcpu-ubuntu-2204
    steps:
      # This should match the version in ghcr-build.yml
      - name: Trigger remote job
        run: |
          curl --fail-with-body -sS -X POST \
            -H "Authorization: Bearer ${{ secrets.ALLHANDS_BOT_GITHUB_PAT }}" \
            -H "Accept: application/vnd.github+json" \
            -d "{\"ref\": \"main\", \"inputs\": {\"openhandsPrNumber\": \"${{ inputs.pr_number }}\", \"deployEnvironment\": \"feature\", \"enterpriseImageTag\": \"pr-${{ inputs.pr_number }}\" }}" \
            https://api.github.com/repos/OpenHands/deploy/actions/workflows/deploy.yaml/dispatches
